@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* ===============================
   Sofia Pro – Full Family (TTF)
================================ */

/* UltraLight */
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-UltraLight.ttf")
    format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-UltraLightItalic.ttf")
    format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

/* ExtraLight */
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-ExtraLight.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-ExtraLightItalic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Light */
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-LightItalic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-MediumItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-BoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

/* Black */
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("./assets/fonts/sofia-pro/SofiaPro-BlackItalic.ttf")
    format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-arial: "Arial", sans-serif;
  --font-nunito: "Nunito", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-lora: "Lora", serif;
  --font-opensans: "Open Sans", sans-serif;
  --font-trirong: "Trirong", serif;
  --font-sofiapro: "Sofia Pro", sans-serif;

  --color-dark-gray: #212121;
  --color-salmon: #fa8a8a;

  --breakpoint-mobile-sm: 678px;
  --breakpoint-laptop: 992px;

  /* ANIMATIONS */
  --animate-logo-scroll: logo-scroll 60s linear infinite;

  @keyframes logo-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@layer components {
  .page-width {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 15px;

    @media (min-width: 750px) {
      padding: 0 50px;
    }
  }
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5; */
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* --font-body-scale: 1.0; */
}

html {
  box-sizing: border-box;
  /* font-size: calc(var(--font-body-scale) * 62.5%); */
  height: 100%;
}

a {
  color: #0000ee;
  text-decoration: underline;
}
a:visited {
  color: #551a8b;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center;
  min-width: 320px; */
  min-height: 100vh;
  letter-spacing: 0.6px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.custom-scroll {
  scrollbar-color: #8b8b8b white;
  /* scrollbar-width: thin; */
}

.custom-scroll::-webkit-scrollbar-track {
  /* background: white; */
}

.custom-scroll::-webkit-scrollbar-thumb {
  /* background-color: #d1d5db; */
  /* border-radius: 999px; */
}
